{% extends "base.html" %}

{% block page_title %}
{% endblock page_title %}

{% block content %}

<h1>Lista de Livros</h1>

    {% if livros_list %}

    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Título</th>
          <th scope="col">Autor</th>
          <th scope="col">Gênero</th>
          <th scope="col">Ano de Publicação</th>
          <th scope="col">Data do Aluguel</th>
          <th scope="col">Nome do Locador</th>
          <th scope="col">Telefone do Locador</th>
          <th scope="col">Data da Devolução</th>
          <th scope="col">Ações</th>
        </tr>
      </thead>
      <tbody>
        {% for livro in livros_list %}
        <tr>
          <th scope="row">{{livro.id}}</th>
          <td>{{livro.titulo}}</td>
          <td>{{livro.autor}}</td>
          <td>{{livro.genero}}</td>
          <td>{{livro.anoPublicacao}}</td>
          <td>{{livro.dataAlugou|default:"-"}}</td>
          <td>{{livro.nomeAlugou|default:"-"}}</td>
          <td>{{ livro.telefoneAlugou|default:"-" }}</td>
          {% if livro.nomeAlugou %}
              <td>{{ livro.dataDevol = None }}</td>
          {% else %}
              <td>{{ livro.dataDevol|default:"-" }}</td>
          {% endif %}
          <td>
            <a href="{% url 'livros_Update'  pk=livro.pk %}" class="btn btn-success btn-sm mb-2 {% if livro.dataAlugou %}disabled{% endif %}">Alugar</a>
            <a href="{% url 'livros_Time' pk=livro.pk %}" class="btn btn-warning btn-sm mb-2 {% if not livro.dataAlugou %}disabled{% endif %} ">Devolver</a>
            <a href="{% url 'livros_Delete' pk=livro.pk %}" class="btn btn-danger btn-sm mb-2">Excluír</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <p>Não há livros cadastradas</p>

    {% endif %}
    <a href="{% url "livros_create" %}" class="btn btn-primary">Novo Livro</a>

{% endblock content %}
